<html>
    <head><title>FRESCO</title></head>
<body>
<style>
body {
    background-color: powderblue;
    background-image: url("/g.jpg");
}


</style>
    <div align="center">
        <h1 class="titulo">COMERCIO VERDE</h1>
        <h2>El lugar más fresco de Colombia</h2>
    </div>
<h3>Productos orgánicos y mucho más:</h3>


<div>
    <h5><a href="/principal/"><button>Admin</button></a></h5>
</div>
<div>
    <h5><a href="alimentosapi/crud/"><button>Alimentos</button></a></h5>
</div>
<div>
    <h5><a href="artesanalapi/crud/"><button>Artesanales</button></a></h5>
</div>
<div>
    <h5><a href="productosapi/crud/"><button>Productos</button></a></h5>
</div>
<div>
    <h5><a href="usuarios/api/crud/"><button>Usuarios</button></a></h5>
</div>
<div>
    <h5><a href="/check/api/crud/"><button>Check</button></a></h5>
</div>
<div>
<p>Apoyamos a los productores orgánicos de Colombia.</p>
</div>
</body>
</html>