<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comercio Verde</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="estilos.css">
  </head>

<body>
<style>
body {
        background-image: url("/media/pagina/g.jpg");
}
nav {
        background-image: url("/media/pagina/g.jpg");
        font-style: italic;
        color: black;
        text-shadow: 1px 1px #fff;
}
</style>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/principal/">Comercio Verde</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">¿Quienes sómos?</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Enlace</a>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Búsqueda</button>
        </form>
        </div>
    </div>
</nav>
<div class="row mb-3">
    <div class="col-4 malla">
        <h1 class="titulo">COMERCIO VERDE</h1>
        <h2>El lugar más fresco de Colombia</h2>
        <h3>Productos orgánicos y mucho más:</h3>

    </div>
    <div class="col-4 malla">.col-4</div>
    <div class="col-4 malla">.col-4</div>
</div>

    <div align="center">



<div>
    <h5><a href="/principal/"><button>Admin</button></a></h5>
</div>
<div>
    <h5><a href="alimentosapi/crud/"><button>Alimentos</button></a></h5>
</div>
<div>
    <h5><a href="artesanalapi/crud/"><button>Artesanales</button></a></h5>
</div>
<div>
    <h5><a href="productosapi/crud/"><button>Productos</button></a></h5>
</div>
<div>
    <h5><a href="usuarios/api/crud/"><button>Usuarios</button></a></h5>
</div>
<div>
    <h5><a href="/check/api/crud/"><button>Check</button></a></h5>
</div>
<div>
    <img src="/media/producto/D_NQ_NP_768000-MCO44420062247_122020-O.jpg">
</div>
<div>
<p>Apoyamos a los productores orgánicos de Colombia.</p>
</div>
</body>
</html>